In [2]:
import numpy as np 
import pandas as pd 
import scipy 
import statsmodels.api as sm 
import matplotlib.pyplot as plt 
import seaborn as sns 
from statsmodels.tsa.arima_model import ARIMA
import warnings 
sns.set()
warnings.filterwarnings("ignore")

from pmdarima.arima import auto_arima

In [3]:
raw_data=pd.read_csv("Train_data.csv")
print(raw_data.head())
raw_data.tail()

ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2
4   4  25-08-2012 04:00      2

          ID          Datetime  Count
18283  18283  25-09-2014 19:00    868
18284  18284  25-09-2014 20:00    732
18285  18285  25-09-2014 21:00    702
18286  18286  25-09-2014 22:00    580
18287  18287  25-09-2014 23:00    534

In [4]:
df=raw_data.copy()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18288 entries, 0 to 18287
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        18288 non-null  int64
 1   Datetime  18288 non-null  object
 2   Count     18288 non-null  int64
dtypes: int64(2), object(1)
memory usage: 428.8+ KB

In [6]:
df.set_index("Datetime",inplace=True)
df.drop(["ID"],inplace=True,axis=1)
df.head(10)

                  Count
Datetime
25-08-2012 00:00      8
25-08-2012 01:00      2
25-08-2012 02:00      6
25-08-2012 03:00      2
25-08-2012 04:00      2
25-08-2012 05:00      2
25-08-2012 06:00      2
25-08-2012 07:00      2
25-08-2012 08:00      6
25-08-2012 09:00      2

In [7]:
df.describe()

              Count
count  18288.000000
mean     138.958115
std      153.467461
min        2.000000
25%       22.000000
50%       84.000000
75%      210.000000
max     1244.000000

In [8]:
df.isnull().sum()

Count    0
dtype: int64

In [9]:
df.asfreq('H')
df

                  Count
Datetime
25-08-2012 00:00      8
25-08-2012 01:00      2
25-08-2012 02:00      6
25-08-2012 03:00      2
25-08-2012 04:00      2
...                 ...
25-09-2014 19:00    868
25-09-2014 20:00    732
25-09-2014 21:00    702
25-09-2014 22:00    580
25-09-2014 23:00    534

[18288 rows x 1 columns]

In [10]:
'''model=auto_arima(df.Count[1:])
model

ARIMA(maxiter=50, method='lbfgs', order=(3, 1, 3), out_of_sample_size=0,
      scoring='mse', scoring_args=None, seasonal_order=(0, 0, 0, 0),
      start_params=None, suppress_warnings=False, trend=None,
      with_intercept=True)'''

"model=auto_arima(df.Count[1:])\nmodel\n\nARIMA(maxiter=50, method='lbfgs', order=(3, 1, 3), out_of_sample_size=0,\n      scoring='mse', scoring_args=None, seasonal_order=(0, 0, 0, 0),\n      start_params=None, suppress_warnings=False, trend=None,\n      with_intercept=True)"

In [11]:
'''model.summary()

SARIMAX Results
Dep. Variable:	y	No. Observations:	18287
Model:	SARIMAX(3, 1, 3)	Log Likelihood	-93063.131
Date:	Sat, 18 Apr 2020	AIC	186142.261
Time:	01:02:00	BIC	186204.773
Sample:	0	HQIC	186162.802
- 18287		
Covariance Type:	opg		
coef	std err	z	P>|z|	[0.025	0.975]
intercept	0.0079	0.005	1.502	0.133	-0.002	0.018
ar.L1	0.7302	0.011	64.744	0.000	0.708	0.752
ar.L2	0.9162	0.013	73.261	0.000	0.892	0.941
ar.L3	-0.7580	0.010	-78.531	0.000	-0.777	-0.739
ma.L1	-0.7370	0.013	-58.934	0.000	-0.761	-0.712
ma.L2	-0.9581	0.014	-69.095	0.000	-0.985	-0.931
ma.L3	0.7099	0.012	59.332	0.000	0.686	0.733
sigma2	1578.0484	6.026	261.889	0.000	1566.238	1589.858
Ljung-Box (Q):	3376.65	Jarque-Bera (JB):	333589.20
Prob(Q):	0.00	Prob(JB):	0.00
Heteroskedasticity (H):	33.87	Skew:	2.01
Prob(H) (two-sided):	0.00	Kurtosis:	23.53
'''

'model.summary()\n\nSARIMAX Results\nDep. Variable:\ty\tNo. Observations:\t18287\nModel:\tSARIMAX(3, 1, 3)\tLog Likelihood\t-93063.131\nDate:\tSat, 18 Apr 2020\tAIC\t186142.261\nTime:\t01:02:00\tBIC\t186204.773\nSample:\t0\tHQIC\t186162.802\n- 18287\t\t\nCovariance Type:\topg\t\t\ncoef\tstd err\tz\tP>|z|\t[0.025\t0.975]\nintercept\t0.0079\t0.005\t1.502\t0.133\t-0.002\t0.018\nar.L1\t0.7302\t0.011\t64.744\t0.000\t0.708\t0.752\nar.L2\t0.9162\t0.013\t73.261\t0.000\t0.892\t0.941\nar.L3\t-0.7580\t0.010\t-78.531\t0.000\t-0.777\t-0.739\nma.L1\t-0.7370\t0.013\t-58.934\t0.000\t-0.761\t-0.712\nma.L2\t-0.9581\t0.014\t-69.095\t0.000\t-0.985\t-0.931\nma.L3\t0.7099\t0.012\t59.332\t0.000\t0.686\t0.733\nsigma2\t1578.0484\t6.026\t261.889\t0.000\t1566.238\t1589.858\nLjung-Box (Q):\t3376.65\tJarque-Bera (JB):\t333589.20\nProb(Q):\t0.00\tProb(JB):\t0.00\nHeteroskedasticity (H):\t33.87\tSkew:\t2.01\nProb(H) (two-sided):\t0.00\tKurtosis:\t23.53\n'

In [12]:
model2 = auto_arima(df.Count[1:],maxiter = 50, alpha = 0.05, n_jobs = -1, information_criterion = 'aic',out_of_sample = int(len(df)*0.2))

In [13]:
model2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               SARIMAX Results
==============================================================================
Dep. Variable:                      y   No. Observations:                18287
Model:               SARIMAX(3, 1, 3)   Log Likelihood              -93063.131
Date:                Sat, 18 Apr 2020   AIC                         186142.261
Time:                        21:12:03   BIC                         186204.773
Sample:                             0   HQIC                        186162.802
                              - 18287
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept      0.0079      0.005      1.502      0.133      -0.002       0.018
ar.L1          0.7302      0.011     64.744      0.000       0.708       0.752
ar.L2          0.9162      0.013     73.261      0.000       0.892       0.941
ar.L3         -0.7580      0.010    -78.531      0.000      -0.777      -0.739
ma.L1         -0.7370      0.013    -58.934      0.000      -0.761      -0.712
ma.L2         -0.9581      0.014    -69.095      0.000      -0.985      -0.931
ma.L3          0.7099      0.012     59.332      0.000       0.686       0.733
sigma2      1578.0484      6.026    261.889      0.000    1566.238    1589.858
===================================================================================
Ljung-Box (Q):                     3376.65   Jarque-Bera (JB):            333589.20
Prob(Q):                              0.00   Prob(JB):                         0.00
Heteroskedasticity (H):              33.87   Skew:                             2.01
Prob(H) (two-sided):                  0.00   Kurtosis:                        23.53
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
"""

In [14]:
df.to_csv("Train_data_preprocessed.csv",index=True)