In [680]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [681]:
rawdata=pd.read_csv("Proccessed_data2.csv")

In [682]:
data=rawdata.copy()
data.head()

,Item_Identifier,Item_Weight,Item_Visibility,Item_MRP,Outlet_Identifier,Years of Outlet_Service,Item_Outlet_Sales,Outlet,Item_Fat_Content_0,Item_Fat_Content_1,...,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Type_0,Outlet_Type_1,Outlet_Type_2,Outlet_Type_3
0,FDA15,9.30,0.016047,249.8092,OUT049,21,3735.1380,9,0,1,...,0,1,0,1,0,0,0,1,0,0
1,DRC01,5.92,0.019278,48.2692,OUT018,11,443.4228,3,1,0,...,0,1,0,0,0,1,0,0,1,0
2,FDN15,17.50,0.016760,141.6180,OUT049,21,2097.2700,9,0,1,...,0,1,0,1,0,0,0,1,0,0
3,FDX07,19.20,0.000000,182.0950,OUT010,22,732.3800,0,1,0,...,1,0,0,0,0,1,1,0,0,0
4,NCD19,8.93,0.000000,53.8614,OUT013,33,994.7052,1,0,1,...,1,0,0,0,0,1,0,1,0,0

In [683]:
IDcol=data[["Item_Identifier","Outlet_Identifier"]]
IDcol

     Item_Identifier Outlet_Identifier
0              FDA15            OUT049
1              DRC01            OUT018
2              FDN15            OUT049
3              FDX07            OUT010
4              NCD19            OUT013
...              ...               ...
8518           FDF22            OUT013
8519           FDS36            OUT045
8520           NCJ29            OUT035
8521           FDN46            OUT018
8522           DRG01            OUT046

[8523 rows x 2 columns]

In [684]:
X=data.drop(["Item_Identifier","Outlet_Identifier","Item_Outlet_Sales"],axis=1)
Y=data["Item_Outlet_Sales"]

In [685]:
X.head()

,Item_Weight,Item_Visibility,Item_MRP,Years of Outlet_Service,Outlet,Item_Fat_Content_0,Item_Fat_Content_1,Item_Type_0,Item_Type_1,Item_Type_2,...,Outlet_Size_0,Outlet_Size_1,Outlet_Size_2,Outlet_Location_Type_0,Outlet_Location_Type_1,Outlet_Location_Type_2,Outlet_Type_0,Outlet_Type_1,Outlet_Type_2,Outlet_Type_3
0,9.30,0.016047,249.8092,21,9,0,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,11,3,1,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,21,9,0,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,22,0,1,0,0,0,0,...,1,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,33,1,0,1,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [686]:
model=LinearRegression(n_jobs=-1)
model.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=-1, normalize=False)

In [687]:
testdata=pd.read_csv("Proccessed_testdata.csv")
testdata.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Years of Outlet_Service,Outlet,Item_Type_0,Item_Type_1,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,FDW58,20.750000,1,0.007565,107.8622,OUT049,21,9,0,0,...,0,1,0,1,0,0,0,1,0,0
1,FDW14,8.300000,0,0.038428,87.3198,OUT017,13,2,0,0,...,0,1,0,0,1,0,0,1,0,0
2,NCN55,14.600000,1,0.099575,241.7538,OUT010,22,0,0,0,...,0,1,0,0,0,1,1,0,0,0
3,FDQ58,7.315000,1,0.015388,155.0340,OUT017,13,2,0,0,...,0,1,0,0,1,0,0,1,0,0
4,FDY38,12.695633,0,0.118599,234.2300,OUT027,35,5,0,0,...,0,1,0,0,0,1,0,0,0,1

In [688]:
data1=testdata.copy()
X=data1.drop(["Item_Identifier","Outlet_Identifier"],axis=1)
X["Item_Outlet_Sales"]=0.0
X

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Years of Outlet_Service,Outlet,Item_Type_0,Item_Type_1,Item_Type_2,Item_Type_3,...,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Outlet_Sales
0,20.750000,1,0.007565,107.8622,21,9,0,0,0,0,...,1,0,1,0,0,0,1,0,0,0.0
1,8.300000,0,0.038428,87.3198,13,2,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0.0
2,14.600000,1,0.099575,241.7538,22,0,0,0,0,0,...,1,0,0,0,1,1,0,0,0,0.0
3,7.315000,1,0.015388,155.0340,13,2,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0.0
4,12.695633,0,0.118599,234.2300,35,5,0,0,0,0,...,1,0,0,0,1,0,0,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5676,10.500000,0,0.013496,141.3154,23,8,0,0,0,0,...,0,1,1,0,0,0,1,0,0,0.0
5677,7.600000,0,0.142991,169.1448,11,3,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0.0
5678,10.000000,1,0.073529,118.7440,18,7,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0.0
5679,15.300000,0,0.000000,214.6218,13,2,0,0,0,1,...,0,0,0,1,0,0,1,0,0,0.0
5680,9.500000,0,0.104720,79.7960,18,7,0,0,0,1,...,0,0,0,1,0,0,1,0,0,0.0

In [689]:
data1["Item_Outlet_Sales"]=abs(model.predict(X))

In [690]:
data1["Item_Outlet_Sales"]

0       2415.107092
1       2123.241522
2       1695.487336
3       2569.115722
4       1558.741398
           ...
5676    2321.317461
5677     598.418211
5678    2575.324183
5679    2722.088040
5680    2089.587782
Name: Item_Outlet_Sales, Length: 5681, dtype: float64

In [691]:
data1.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Years of Outlet_Service,Outlet,Item_Type_0,Item_Type_1,...,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Outlet_Sales
0,FDW58,20.750000,1,0.007565,107.8622,OUT049,21,9,0,0,...,1,0,1,0,0,0,1,0,0,2415.107092
1,FDW14,8.300000,0,0.038428,87.3198,OUT017,13,2,0,0,...,1,0,0,1,0,0,1,0,0,2123.241522
2,NCN55,14.600000,1,0.099575,241.7538,OUT010,22,0,0,0,...,1,0,0,0,1,1,0,0,0,1695.487336
3,FDQ58,7.315000,1,0.015388,155.0340,OUT017,13,2,0,0,...,1,0,0,1,0,0,1,0,0,2569.115722
4,FDY38,12.695633,0,0.118599,234.2300,OUT027,35,5,0,0,...,1,0,0,0,1,0,0,0,1,1558.741398

In [692]:
data1.to_csv("Predicted.csv",index=False)

In [693]:
Submission_data=data1[["Item_Identifier","Outlet_Identifier","Item_Outlet_Sales"]]
Submission_data.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049        2415.107092
1           FDW14            OUT017        2123.241522
2           NCN55            OUT010        1695.487336
3           FDQ58            OUT017        2569.115722
4           FDY38            OUT027        1558.741398

In [694]:
Submission_data.to_csv("Submissionlinear3.csv",index=False)